{% extends 'face/base.html' %}
{% load crispy_forms_tags %}
{% block title %} Add Student{% endblock %}
{% block content%}
  <div class="outer_container">
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <div class="contents">
              {% if messages %}
                  {% for message in messages %}
                      <div class="alert message alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                          {{ message }}
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="">&times;</span>
                          </button>
                          </div>
                  {% endfor %}
              {%  endif %}
              <div class="f-heading bg-info pt-1 pb-2 mb-3 text-center text-white">
                <h3> ADD STUDENTS</h3>
              </div>
              <div class="w3-card f-card">
              <div class="col-md-10 offset-md-1">
                <form  action="" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="row">
                    <div class="col-md-6">
                      {{ form.fname| as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                      {{ form.sname | as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                      {{ form.lname| as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                      {{ form.regno| as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                      {{ form.course| as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                      {{ form.phoneNumber| as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                      {{ form.email| as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                      {{ form.year| as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                      {{ form.image| as_crispy_field }}
                    </div>
                  </div>
                <button class="btn btn-outline-info mt-5 btn-block" type="submit" name="button">Save</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock%}
